@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&family=Space+Mono:wght@700&display=swap');

@font-face {
  font-family: 'IBMPlexSerif';
  font-display: swap;
  font-weight: 400;
  src: url('./fonts/IBMPlexSerif-Text.woff2') format('woff2');
}
@font-face {
  font-family: 'IBMPlexSerif';
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  src: url('./fonts/IBMPlexSerif-TextItalic.woff2') format('woff2');
}
